body {
    color: #232323;
    word-wrap: break-word;
}

body#ur-landing {
    font-size: 16px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 35px;
}

.block {
    margin: 30px 0;
    padding: 35px 0 50px 0;
}

#ur-landing h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


#ur-landing h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#ur-landing h4 {
    font-size: 24px;
}

.b-advantages {
    margin-bottom: 20px;
}

.advantage {
    padding: 0 40px;
}

.advantage img {
    width: 100px;
    height: 100px;
}


.footer-row {
    padding: 15px 0;
    background: #232323;
    color: #808080;
}
.footer-row p {
    font-size: 14px;
    padding-bottom: 20px; }

.footer-copyright {
    font-size: 13px;
}

#included-text {
    background-color: rgba(255,255, 255, 0.95);
    border-radius: 10px;
    padding: 20px;
}

.logo {
    margin-top: 40px;
}

.call {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    border-radius: 10px;
    margin: 50px 0;
    padding: 30px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.b-included {
    background: #fff url('img/main_bottom.jpg') no-repeat;
}

.b-included h2 {
    margin: 0;
}

.b-main {
    background-image: url('img/main_top.jpg');
}


.included-image-block {
    display: none;
}

@media (min-width: 1200px) {
    .included-image-block {
        display: block;
    }
}

.phone {
    font-weight: bold;
    font-size: 34px;
}

.main-row2 {
    display: flex;
}

.main-row2_flash {
    background-color: #42C0FB;
    color: white;
    box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.5),
                inset  0 -8px 8px -8px rgba(0,0,0,0.5);
    font-size: 34px;
}

.main-row__content {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 50px 20px;
}

.download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    font-size: 40px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.quite:link, .quite:hover, .quite:visited, .quite:active {
    color: #ffffff;
    text-decoration: none;
}

.agreement {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    max-width: 870px;
}

.agreement__link {
    display: inline-flex; /* Firefox required this for proper baseline align-items */
}

/* TODO remove */
.stages, .situations {
    height: 300px;
    background-color: coral;
}

.stages {

}

.situations {

}

.tab {

}

.tab_collapsed {

}
