body {
    color: #232323;
    word-wrap: break-word;
}

body#ur-landing {
    font-size: 16px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 35px;
}

.block {
    margin: 30px 0;
    padding: 35px 0 50px 0;
}

#ur-landing h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


#ur-landing h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

#ur-landing h4 {
    font-size: 24px;
}

.b-advantages {
    margin-bottom: 20px;
}

.advantage {
    padding: 0 40px;
}

.advantage img {
    width: 100px;
    height: 100px;
}


.footer-row {
    padding: 15px 0;
    background: #232323;
    color: #808080;
}
.footer-row p {
    font-size: 14px;
    padding-bottom: 20px; }

.footer-copyright {
    font-size: 13px;
}

.logo {
    margin-top: 40px;
}

.call {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    border-radius: 10px;
    margin: 50px 0;
    padding: 30px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.b-main {
    background: #ffffff url('img/main_top.jpg') center center no-repeat;
    background-size: auto auto;
}

.included-image-block {
    display: none;
}

@media (min-width: 1200px) {
    .included-image-block {
        display: block;
    }
}

.phone {
    font-weight: bold;
    font-size: 34px;
}

.main-row2 {
    display: flex;
    padding: 50px 0 75px 0;
}

.main-row2_flash {
    background-color: #42C0FB;
    color: white;
    box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.5),
                inset  0 -8px 8px -8px rgba(0,0,0,0.5);
    font-size: 34px;
    padding: 50px 0;
}

.main-row2_background {
    background: #fff url('img/main_bottom.jpg') center center no-repeat;
}


.main-row__content {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    font-size: 40px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.quite:link, .quite:hover, .quite:visited, .quite:active {
    color: #ffffff;
    text-decoration: none;
}

.agreement {
    margin: auto;

    width: 100%;
    max-width: 870px;
}

.agreement__link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}

.form-elevator {
    margin: auto;
    width: 100%;
    max-width: 930px;
}

.form-elevator__link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}

.situations {
    text-align: center;
}

.stages {
    text-align: center;
}

.accordion {
    display: none;
    text-align: left;
}

.accordion .ui-state-default {
    background: whitesmoke;
}

.accordion .ui-accordion-header-active {
    background: none;
}

.accordion.ui-accordion .ui-accordion-header, .accordion.ui-accordion .ui-accordion-content {
    font-size: 19px;
    padding: 1.5em 1.5em 1.5em 2.2em;
}

.form-panel {
    margin-top: 42px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 108px;
}

.form-panel__action {
    margin: auto;
    transition: all 300ms ease-in-out;
    max-width: 620px;
}

.form-panel__fields {
    margin-bottom: 15px;
    text-align: center;
    font-size: 0;
}

.form-panel__fields input {
    margin: 0 10px 13px 0;
    font-size: 16px;
    background: #FFF;
    border-radius: 5px;
    vertical-align: middle;
    text-indent: 1em;
    line-height: 56px;
    padding: 0;
    width: 300px;
    height: 56px;
    box-sizing: border-box;
    color: #000;
    border: 1px solid #dedede;
}

.form-panel__fields input:focus {
    outline: none;
}

.form-panel__success {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
    visibility: hidden;
    background: #2290cf;
    padding: 18px 24px;
    border-radius: 5px;
    max-width: 620px;
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.form-panel__success p {
    margin-top: 0;
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1.42857;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.btn:focus {
    outline: inherit;
}

.btn.disabled, .btn.disable:hover,
.btn[disabled], .btn[disabled]:hover {
    pointer-events: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.8;
}

a.btn {
    text-decoration: none;
}

.btn-action {
    background: #2290cf;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    height: 56px;
    vertical-align: middle;
    font-weight: 600;
    width: 200px;
}

.btn-action.success {
    background: #8FCC33;
}

.btn-action:hover {
    background: #0E9BEC;
}

.btn-action:active {
    background: #097ABB;
}

.reverse-call {
    margin: auto;
    background-color: rgba(255,255, 255, 0.95);
    border-radius: 10px;
    padding: 20px 50px;
    max-width: 850px;
}

.reverse-call__header {
    text-align: center;
}

